<!--kommentar i html-->
<!Doctype html>
<html lang="sv">
	
	<head>
		<title> ORANGE </title>
		<link href='bootstrap/css/bootstrap.css' rel='stylesheet'>
    	<link href='maincss.css' rel='stylesheet'>
	</head>

	<body>


		<nav class='navbar navbar-static-top navbar-inverse'>
	      		<div class='container-fluid'>
	      			<div class='navbar-header'>
		        		<a href='html.html' class='navbar-brand'>
		        			<img src='bilder/logga.jpg' alt='orange.' id='logo'/>
		        		</a>
		        	</div>
	      	</div>
      	</nav>

      	<div class='container'>
      		<div class='row col-md-4 col-xs-12 col-md-offset-4 text-center' id='label1'>
      			<p> orange. </p>
      		</div>
      	</div>

	
		<div class='container' id='container1'>

			<div class='row well well-lg col-md-4 col-xs-12 col-md-offset-4' id='inlog'>

				<div class='text-center'>
					<div class="input">
						<input type="text" class="form-control" id='username' placeholder="Username" aria-describedby="basic-addon1">
					</div>

					<div class="input">
						<input type="password" class="form-control" id='password' placeholder="Password" aria-describedby="basic-addon1">
					</div>

					<button type='submit' id='login-btn' class='btn btn-lg btn-primary'>Log in</button>

					<a href='#' id='problem'>Problems signing in to your account?</a>
				</div>
			</div>

		</div>
		

		<div class='footer'>
        	<div class='row' id='footer-content'>
        		<div class='col-md-2 col-md-offset-10 text-right' >
        			<p></p>
      				<p>&copy; 2015 - Orange</p> 
					<p>Projektgrupp Alesmith</p>
				</div>
			</div>
		</div>

		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    	<script src='bootstrap/js/bootstrap.js'></script>

	</body>

</html>


