<div class="container">

  <div class="row">
    <div class="column col-lg-3 ">
      <span class=" vcenter logo">orange.</span>
    </div>
    <div class="column col-lg-3 pull-right">
      Fridolf Karlsson
      <img src="http://placehold.it/100x100">
    </div>
  </div>

</div>

<div class="container-fluid" id="tab-bar">

  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Home</a></li>
      </ul>

    </div>

  </div>
</div>
<div class="container white material">
  <div class="row" id="content">
    <div class=" sub-menu material column col-md-2">
      <p>Häri</p>

      <p>ska det</p>

      <p>lägga einn arraatyh</p>
    </div>
    <div class="material main-content column col-md-6">
      Main TENTARESULTAT plats att visa
    </div>
    <div class="material column col-md-3 pull-right "></div>

  </div>
</div>
