<div class="container">
  <div class="row">
    <div class="column col-lg-3 ">
      <span class=" vcenter logo">orange.</span>
    </div>
    <div class="column col-lg-3 pull-right">
      Fridolf Karlsson
      <img src="http://placehold.it/100x100">
    </div>
  </div>
</div>

<div class="container" id="tab-bar">
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Tentamen</a></li>
        <li role="presentation" class="active"><a href="#">Chatt med examinator</a></li>
        <li role="presentation" class="active"><a href="#">Somethingsomething</a></li>
        <li role="presentation" class="active"><a href="#">Notifikationer</a></li>
      </ul>

    </div>

  </div>
</div>
<div class="container white material">
  <div class="row" id="content">

    <div class="material main-content column col-md-9">
      Main TENTARESULTAT plats att visa
    </div>
    <div class="material column col-md-3 ">
      ANDRA KOLUMN MED LITE INFO OM DET TILL VÄNSTER

    </div>

  </div>
</div>
