<div class="material main-content column col-md-6">
          
  <h1>Tentamenresultat</h1>
  
    <table class="table table-hover">
      <thead>
        <th class='col-md-1'>Kurskod</th>
        <th class='col-md-5'>Kursnamn</th>
        <th class='col-md-1'>Högskolepoäng</th>
        <th class='col-md-1'>Betyg</th>
        <th class='col-md-2'>Datum</th>
      </thead>
      <tbody>
        <tr class='clickable-row' data-href="tenta.html">
          <td>TIG098</td>
          <td>E-business</td>
          <td>7,5</td>
          <td>VG</td>
          <td>2014-06-03</td>
        </tr>
        <tr>
          <td>TIG098</td>
          <td>E-business</td>
          <td>7,5</td>
          <td>VG</td>
          <td>2014-06-03</td>
        </tr>
        <tr>
          <td>TIG098</td>
          <td>E-business</td>
          <td>7,5</td>
          <td>VG</td>
          <td>2014-06-03</td>
        </tr>
      </tbody>
  </table>
</div>