<div class="main" ng-app="alesmith">
    <div ng-controller="AppController">
        <div class="container-fluid login-body">
            <div class="container">
                <div class="row">
                    <div class="column col-lg-3 ">
                        <span class=" vcenter logo" ng-click="tabClick(0);"><a href="/exam/all" class="undecorate">orange.</a></span>
                    </div>

                    <div class="column col-lg-3 pull-right material white"
                         style="margin-top:30px;   transform: scale(0.8); padding-right:0px">
                        <a href="/notifications/settings" ng-click="tabClick(3)"><img style="float:right; margin-left:15px; width: 80px;"
                             src="/images/user-profile.jpg"></a>

                        <div class="text-right" style="padding-top: 15px;">
                            <p id="profile-name-header">{{user.name}}</p>

                            <p>
                                <a class="btn btn-danger" href="#" ng-click="logout()" id="logout-btn">Logga ut</a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid tabmenu-body" id="tab-bar">
            <div class="container">
                <div class="row">
                    <ul class="nav nav-tabs" id="links">
                        <li ng-repeat="entry in menu" role="presentation" ng-class="{active:activeTab($index)}"
                            ng-click="tabClick($index)"><a href="#"><b>{{entry.title}}</b></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container material tab-content" style="background-color:white" >
            <div class="tab-pane fade in active" style="padding-top:10px; padding-bottom: 10px;" >
                <small>
                    <!-- ng-show="menu[tabSelected].links.length!==1" -->
                    <a ng-repeat="link in menu[tabSelected].links" href="{{link.link}}"
                       ng-class="{active:getActive(link.link)}" style="margin-right:10px;" id="menu-alt">{{link.text}}</a>

                </small>
            </div>
        </div>
        <div class="container">
            <div class="row" style='margin-top:30px;'>
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>
