<div class="main-content column col-md-9">
    <div class="wrap" id="wrap">
        <div class="table" id="exams">

            <ul>
                <li>
                    <div class="top" id="top">
                        <h2 id="course-code">TIG098</h2>
                        <div class="circle" id="grade">G</div>
                    </div>
                    <div class="bottom" id="bottom">
                        <p id="course-name">E-Business</p>
                        <p id="points"><span>7.5</span> HP</p>
                        <p id="exam-date">2014-10-11</p>
                        <div class="sign"> <a href='/exam/1' class="button" id="show-button">Visa tentamen</a></div>
                    </div>
                </li>
                <li>
                    <div class="top" id="top">
        	            <h2 id="course-code">TIG164</h2>
                        <div class="circle" id="grade">VG</div>
                    </div>
                    <div class="bottom" id="bottom">
                        <p id="course-name">Affärssystem</p>
                        <p id="points"><span>7.5</span> HP</p>
                        <p id="exam-date">2013-10-11</p>
                        <div class="sign"> <a href='#' class="button" id="show-button">Visa tentamen</a></div>
                    </div>
                </li>
                <li>
                    <div class="top" id="top">
                        <h2 id="course-code">TIG098</h2>
                        <div class="circle" id="grade">U</div>
                    </div>
                    <div class="bottom" id="bottom">
                        <p id="course-name">Systemprojekt</p>
                        <p id="points"><span>7.5</span> HP</p>
                        <p id="exam-date">2014-03-11</p>
                        <div class="sign"> <a href='#' class="button" id="show-button">Visa tentamen</a></div>
                    </div>
                </li>
                <li>
                    <div class="top" id="top">
                        <h2 id="course-code">TIG089</h2>
                        <div class="circle" id="grade">G</div>
                    </div>
                    <div class="bottom" id="bottom">
                        <p id="course-name">Databasteknik</p>
                        <p id="points"><span>7.5</span> HP</p>
                        <p id="exam-date">2014-10-11</p>
            	        <div class="sign"> <a href='#' class="button"  id="show-button">Visa tentamen</a></div>
                    </div>
                </li>
                <li>
                    <div class="top" id="top">
                        <h2 id="course-code">TIG098</h2>
                        <div class="circle" id="grade">G</div>
                    </div>
                    <div class="bottom" id="bottom">
                        <p id="course-name">E-Business</p>
                        <p id="points"><span>7.5</span> HP</p>
                        <p id="exam-date">2014-10-11</p>
                        <div class="sign"> <a href='#' class="button" id="show-button">Visa tentamen</a></div>
                    </div>
                </li>
                <li>
                    <div class="top" id="top">
                        <h2 id="course-code">TIG018</h2>
                        <div class="circle" id="grade">VG</div>
                    </div>
                    <div class="bottom" id="bottom">
                        <p id="course-name">E-Business</p>
                        <p id="points"><span>7.5</span> HP</p>
                        <p id="exam-date">2014-10-11</p>
                        <div class="sign"> <a href='#' class="button"  id="show-button">Visa tentamen</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- CSS

@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.vcenter {
  /* vertical-align: middle;*/
}

.logo {
  font-size: 70px;
  /*font-family: "Bookman Old Style", arial, serif;*/
  font-family: 'Abril Fatface', cursive;
  /*font-weight: bolder;*/
}


#tab-bar {
  padding-top: 50px;
  background-color: orange;
}

#content {
  min-height: 50vh;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.main-content {
  min-height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
}

.material {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

#submenu {
  width: 250px;
}

.sub-menu {

}
a.active{
  font-weight: bold;
}
a.active:focus {
  outline: 0;
}
body {
  background-color: whitesmoke;
  padding-bottom:50px;
}

.white {
  background-color: white;
}

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700);

#wrap {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
  color: #989A8F;
}

#exams {
  background-color: #ffffff; 
  height: 325px;
  width: 100%;
  margin-top: 50px;  
  list-style-type: none;
}

#exams li {
  float:left;
  width: 220px;
  text-align:center;
  border-left:1px solid #EAE9E4;
  border-right:1px solid #EAE9E4;
  margin: 10px;
  margin-bottom: 50px;
  list-style-type: none;
}

#top {
  background-color:#EAE9E4;
  height: 88px;
  border:1px solid #EAE9E4;
}


#top h2 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
}

#top p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 14px;
}

.circle {
  width:60px;
  height:60px;
  border-radius:60px;
  font-size:20px;
  color:#fff;
  line-height:60px; 
  text-align:center;
  background:#989A8F;
  margin-left: 80px;
  margin-top: 10px;
}

#bottom {
  margin-top:50px;
  padding-bottom: 30px;
  border-bottom: 1px solid #EAE9E4;
  height: 220px;
}

#bottom p {
  font-size: 15px;
  font-family: 'Droid Serif', sans-serif;
  padding:1px;
}

#bottom #course-name {
  font-weight: normal;
  font-size: 25px;
}

#bottom p span {
  font-weight:bold; 
}

.sign {
  margin-top:50px;
}

#show-button {
   border: 1px solid #989A8F;
   padding: 10px 40px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #989A8F;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   font-size:17px;
}

h1 {
  font-size: 50px;   
  margin-bottom: 60px;
  color: black;
}

h1:after{
    content: ' ';
    display: block;
    border: 1px solid black;
    width: 700px;
}

#exams li:hover #top{

  background-color:#5D4660;   
  color:#FFFFFF; 
}

#exams li:hover #show-button{
  background-color:#5D4660;   
  color:#FFFFFF; 
}

#exams li:hover .circle{
  background-color:#BC9B94;
  color:#FFFFFF; 
}