<div class="main-content column white material col-md-12" id="allExams-content">
    <div class="wrap" id="wrap">
        <div class="table" id="exams">
            <ul>
                <li ng-repeat="exam in exams" ng-class="{activated:isPublished(exam)}">
                    <div class="exam-top">
                        <h2 id="course-code">{{exam.metaData.courseCode}}</h2>

                        <div class="exam-circle" id="grade">{{exam.grade}}</div>
                    </div>
                    <div class="exam-bottom">
                        <p id="course-name">{{exam.metaData.name}}</p>

                        <p id="points"><span>{{exam.metaData.points}}</span> HP</p>

                        <p id="exam-date">{{exam.metaData.date| date:'yyyy-MM-dd'}}</p>

                      <div class="sign-in" ng-hide="isPublished(exam)"><a class="button"  id="exam-show-button-hide" >

                        {{daysLeft(exam)}}

                        dagar kvar</a></div>

                        <div class="sign-in" ng-show="isPublished(exam)"><a class="button" id="exam-show-button-show" href="/exam/{{exam.id}}">
                          Visa Tentamen
                        </a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
