<div class="main-content white material column col-md-12" id="chat">

    <div class="col-md-5" id="chat-tabs" role="navigation">
        
        <ul class="nav nav-tabs scrollable-menu" id="chat-nav" role="tablist" data-tabs="tabs">
            <li><a data-toggle="tab" href="#0">
                <h3 id="examinator">Förnamn Efternamn</h3>
                <h4 id="course">TIGXXX Kursnamn</h4>
                <h5 id="exam-date">YYYY-MM-DD</h5>
            </a></li>
            <li><a data-toggle="tab" href="#2">
                <h3 id="examinator">Förnamn Efternamn</h3>
                <h4 id="course">TIGXXX Kursnamn</h4>
                <h5 id="exam-date">YYYY-MM-DD</h5>
            </a></li>
            <li><a data-toggle="tab" href="#3">
                <h3 id="examinator">Förnamn Efternamn</h3>
                <h4 id="course">TIGXXX Kursnamn</h4>
                <h5 id="exam-date">YYYY-MM-DD</h5>
            </a></li>
            <li><a data-toggle="tab" href="#4">
                <h3 id="examinator">Förnamn Efternamn</h3>
                <h4 id="course">TIGXXX Kursnamn</h4>
                <h5 id="exam-date">YYYY-MM-DD</h5>
            </a></li>
            <li><a data-toggle="tab" href="#5">
                <h3 id="examinator">Förnamn Efternamn</h3>
                <h4 id="course">TIGXXX Kursnamn</h4>
                <h5 id="exam-date">YYYY-MM-DD</h5>
            </a></li>
        </ul> 
    </div>

    <div id="tab-content" class="tab-content col-md-7">
        <div class="conversation">
        </div>
        <div class="tab-pane active">
            <textarea class="form-control" placeholder="Skriv ett meddelande och tryck enter för att skicka..."></textarea>
        </div>
    </div>
</div>
