<div class="main-content column col-md-12 white material" id='main-content'>

    <div class="contact-content">

        <h1>Kontaktinformation</h1>

        <div class="col-md-4" id="exped-profil">
            <img src="images/exped.jpg" width="315" id='exped-pic'>

            <div class='well well-lg' id="studieexpeditionen">
  
                <h2>Studieexpedition</h2>

                <h4>Besökstider</h4>
                <p>måndag:  10:30-12:00</p>
                <p>tisdag:  12:30-14:30</p>
                <p>onsdag:  12:30-14:30</p>
                <p>torsdag: 10:30-12:00</p>
                <p>fredag:  stängt</p>

                <h4>Telefon</h4>
                <p>Lisa Johansson: 031-772 6032</p>
                <p>Carola Åbom: 031-772 6041</p>

                <h4>E-post</h4>
                <p>studieadministration@ait.gu.se</p>

                <h4>Besöksadress</h4>
                <p>Rum Unix på plan 3</p>
                <p>Hus Patricia</p>
                <p>Forskningsgången 6</p>
                <p>Lindholmen</p>

                <h4>Postadress</h4>
                <p>Studieexpeditionen</p>
                <p>Institutionen för tillämpad IT</p>
                <p>Chalmers tekniska högskola</p>
                <p>412 96 Göteborg</p>

                <p><a class="btn btn-default" href="http://ait.gu.se/kontaktaoss/studieexpedition" role="button">Mer information &raquo;</a></p>
            </div>
        </div>
          
        <div class="col-md-4" id='orange-profil'>

            <img src="images/logga2.jpg" width="315" id='profil'>

            <div class='well well-lg' id="orange">

                <h2>orange.</h2>

                <h4>Besökstider</h4>
                <p>måndag:  10:30-12:00</p>
                <p>tisdag:  12:30-14:30</p>
                <p>onsdag:  12:30-14:30</p>
                <p>torsdag: 10:30-12:00</p>
                <p>fredag:  stängt</p>

                <h4>Telefon</h4>
                <p>031-111 2233</p>
                <p><br></p>

                <h4>E-post</h4>
                <p>orange@orange.se</p>

                <h4>Besöksadress</h4>
                <p>Torg Orange på plan 4</p>
                <p>Hus Patricia</p>
                <p>Forskningsgången 6</p>
                <p>Lindholmen</p>

                <h4>Postadress</h4>
                <p>Studieexpeditionen</p>
                <p>Institutionen för tillämpad IT</p>
                <p>orange.</p>
                <p>412 96 Göteborg</p>

                <p><a class="btn btn-default" href="http://sv.wikipedia.org/wiki/Orange" role="button">Mer information &raquo;</a></p>
            </div>
        </div>
 
        <div class="col-md-4" id='alesmith-profil'>
            <img src="images/alesmith2.jpg" width="315" id='profil'>

            <div class='well well-lg' id="alesmith">
                <h2>Alesmith</h2>
                                
                <h4>E-post</h4>
                <p>gusfaraal@student.gu.se</p>
                <p>gusfrana@student.gu.se</p>
                <p>gusnacni@student.gu.se</p>
                <p>gusronnqjo@student.gu.se</p>
                <p>gusgabrth@student.gu.se</p>

                <h4>Telefon</h4>
                <p>031-111 2233</p>
                <p><br></p>

                <h4>Besöksadress</h4>
                <p>Torg Orange på plan 4</p>
                <p>Hus Patricia</p>
                <p>Forskningsgången 6</p>
                <p>Lindholmen</p>
                <p>Göteborg</p>
                <p>Sverige</p>
                <p><br></p>

                <h4>Postadress</h4>
                <p>Studieexpeditionen</p>
                <p>Göteborgs universitets Lärplattform</p>
                <p>GUL</p>
                <p>412 96 Göteborg</p>
                <p><a class="btn btn-default" href="http://alesmith.com/contact/" role="button">Mer information &raquo;</a></p>
            </div>
        </div>
    </div>
                   
</div>