<div class="container white material">

        <div class="row" id="content">

            <div class="main-content column col-md-9">


                <h1>Information om tentamina</h1>

                <h2>Tentamenanmälan</h2>

                <div id="info-content"> 
                    <p>Anmälningar för tentamina görs via <a href="https://login.it.gu.se/login?service=http%3A%2F%2Fstudentportal.gu.se%2Fr%2Fladok--redirectnod-%2F%3Freferer%3Dhttp%253A%252F%252Fstudentportal.gu.se%252Fe-tjanster%252F" id = 'studentportalen-link'>Studentportalen</a> i Ladok på webb. <em>Notera att du måste vara registrerad på kursen för att kunna se tentamenstillfället i Ladok på webb.</em> </p>

                    <p>Vid problem och/eller frågor kontakta <a href="#">studieexpeditionen</a>. Meddela gärna studieexpeditionen om du anmält dig till en tentamen men fått förhinder.</p>
                </div>

                <h2>Examination</h2>


                <p>Inom högskolan används olika examinationsformer. Vanligaste är skriftlig tentamen, men en tentamen kan också vara muntlig. Examinator har ansvar för genomförandet av tentamen. Med examinator avses examinator enligt kursplanen. Institutionens prefekt är ytterst ansvarig för att arbetsuppgifter som åligger examinator blir fullgjorda, om den senare inte är tillgänglig.</p>

                <p>I kurs-PM informerar examinator om kursens examination:
                    <ul>
                        <li>Examinationsform.</li>
                        <li>Datum för ordinarie tentamina, liksom för första omtentamenstillfället.</li>
                        <li>Vilka hjälpmedel som accepteras vid tentamen.</li>
                    </ul>
                </p>

                <div class="jumbotron">
                    <div class="container">

                        <h3>Viktigt att komma ihåg!</h3>

                        <ul>
                            <li><strong><em>Ta med dig fotolegitimation.</em></strong></li>
                            <li>Ta med mellanmål om tentamen är lång.</li>
                            <li>Ta med dig penna, suddgummi, linjal och tillåtna hjälpmedel.</li>
                            <li>Kontrollera att eventuella hjälpmedel inte innehåller egna anteckningar eller lösa blad. Är du osäker på vad som är tillåtet, tala med tentamensvakten.</li>
                            <li>Kom i tid! Tänk på att du stör övriga studenter om du kommer för sent till tentamen.</li>
                            <li>Ytterkläder och väskor får inte tas med till skrivplatsen. Plocka därför ur hjälpmedel och mellanmål innan du sätter dig.</li>
                            <li>Mobiltelefoner och elektronisk utrustning, som inte är godkända hjälpmedel, skall vara avstängda och får inte medföras till skrivplatsen. Följ alltid tentamensvaktens anvisningar.</li>
                            <li>Notera den anonyma koden vid ditt namn på anmälningslistan och skriv denna kod på framsidan av din tenta.</li>
                            <li>Stör inte övriga tentander. </li>
                            <li>Avsluta tentamen i tid. </li>
                        </ul>

                    </div>
                </div>

                
                <h2>Glöm inte legitimation!</h2>

                <p>När du ska skriva din tentamen behöver du visa upp en giltig legitimation. Mer information om godkända ID-handlingar och regler för tentamen finns under fliken <a href="#" id ='tentamenregler-link'>Tentamenregler</a> eller på <a href="http://studentportal.gu.se/studiemiljo-regler/tentamensregler/?skipSSOCheck=true" id ='studentportalen-rules'>Studentportalen</a>.</p>

                <h2>Student med funktionsnedsättning</h2>

                <p>Om du som student med funktionsnedsättning vill ha en anpassad tentamen, meddela detta senast fyra veckor före examinationen till kursansvarig lärare eller kurssekreterare.</p>

            </div>
            <div class="material column col-md-3 ">
                <a href="https://login.it.gu.se/login?service=http%3A%2F%2Fstudentportal.gu.se%2Fr%2Fladok--redirectnod-%2F%3Freferer%3Dhttp%253A%252F%252Fstudentportal.gu.se%252Fe-tjanster%252F" class="btn btn-primary" role="button">Ladok</a>

            </div>

        </div>
    </div>

<!-- CSS till denna del 

@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.vcenter {
  /* vertical-align: middle;*/
}

.logo {
  font-size: 70px;
  /*font-family: "Bookman Old Style", arial, serif;*/
  font-family: 'Abril Fatface', cursive;
  /*font-weight: bolder;*/
}


#tab-bar {
  padding-top: 50px;
  background-color: orange;
}

#content {
  min-height: 50vh;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.main-content {
  min-height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
}

.material {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.sub-menu {

}
a.active{
  font-weight: bold;
}
a.active:focus {
  outline: 0;
}
body {
  background-color: whitesmoke;
  padding-bottom:50px;
}

.white {
  background-color: white;
}


/* CSS till information om examinationsanmälan */

p, h1, h2, h3, ul, li {
  line-height: 1.5;
  font-family:"Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;
  text-rendering:optimizeLegibility;
  font-weight: normal;
}

p, h1, h2, h3 {
  width: 85%;
}

h1 {
  font-size: 50px;  
  color: #4cadc0; /*Kan vara en helt annan färg också, men jag tror det blir en färgad rubrik blir en bra avskiljare*/ 
}

h2 {
  margin-bottom: 10px;
  margin-top: 35px;
}

#content {
  margin-left: 30px;
}

#main-content a {
  color: #4cadc0;
  text-decoration: none;
}

p {
  font-size: 16px;
}

ul {
  margin: 15px;
}

.jumbotron {
  margin: 50px 0 0 0;
  padding: 10px 0 10px 0;
  width: 80%;
  background: rgb(247,129,129);
  background: rgba(247,129,129, 0.2);
}

.jumbotron .container ul{
  list-style-type: square;
  padding: 0 0 0 10px;
  margin: 20px 0 0 0;
}

.jumbotron .container ul li{
  margin: 7px;
  line-height: 12pt;
  width: 100%
}

.material .btn {
  width: 100%;
}

.material .btn {
  width: 100%;
}


/* - FÖR TABELL - */

/*.main-content {
  height: 100vh;
  margin-left: 15px;
  margin-right: 15px;
  width: 80%
} FÖR TABELL

.table .tbody .tr .td {
  font-weight: bold;
}

.panel-heading {
  font-weight: bold; 
  font-size: 250%;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: #006DCC;
  color: white;
}

tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

För tentamenvisning  
.main-content {
  height: 100vh;
  margin-left: 15px;
  margin-right: 15px;
  width: 80%
}

#points {
  height: 150px;
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
  width: 150px;
  font-size: 30px;
  display:block;
  padding-top: 30%;
  padding-bottom:0;
  line-height:1.5em;
  white-space: normal;
  text-align: center;
  font-weight: normal;
}

.glyphicon-print,
.glyphicon-floppy-disk{
  font-size: 32px;
}

.content {
  padding: 20px 0 20px 0;
}

#label {
  padding: 30px;
}

#exam-well {
  margin: 60px;
  width: 82%;

}*/

-->