<div class="main-content column col-md-9">
    <div class="show-exam-content">

        <div class='row' id="row1">
            <div class='col-md-6 col-md-offset-1' id='content'>

                <h1 id='headline'>Tentamen
                    <i class='glyphicon glyphicon-print'></i>
                    <i class='glyphicon glyphicon-floppy-disk'></i>
                </h1>

                <h3>{{exam.metaData.courseCode}} {{exam.metaData.name}}</h3>
                <h4>{{exam.metaData.date}}</h4>
            </div>

            <div class='col-md-2 col-md-offset-1' id='label'>
                <span class='label label-info' id='points'>Poäng {{exam.points}}/{{exam.metaData.maxPoints}}</span>
            </div>
        </div>


    </div>
    <div ng-repeat="question in exam.metaData.questions">
        <h1>{{question.data}}</h1>
        <h3>Ditt svar: </h3><p>{{exam.answers[$index].data}}</p>
        <h4>Poäng {{exam.answers[$index].points}}/{{question.points}}</h4>
    </div>
</div>

<div class="material column col-md-3 " id="show-exam-submenu">

    <h2><strong>Tentamen</strong></h2>

    <p id="anon-code"><strong>Anonym kod:</strong> {{exam.anonCode}}</p>

    <p id="grade"><strong>Tentabetyg:</strong> &nbsp;&nbsp;&nbsp;{{exam.grade}}</p>

    <p id="examinator"><strong>Examinator: </strong>&nbsp;&nbsp;&nbsp;{{exam.metaData.examinator}}</p>
    <br>

    <p id="contact"><a href="#"><i class='glyphicon glyphicon-envelope'></i> Kontakta examinator</a></p>
    <br>

    <p id="unhappy"><em>Funderar du på att överklaga din tentamen?</em><br><br>Läs mer i fliken för <a href="#">Information</a>
</div>