<div class="main-content column col-md-9 white material" style="padding-bottom:30px;">

  <div class="exam-info-content">
    <h1>Information om tentamina</h1>

    <h2>Tentamenanmälan</h2>

    <div>
      <p>Anmälningar för tentamina görs via <a href="https://login.it.gu.se/login?service=http%3A%2F%2Fstudentportal.gu.se%2Fr%2Fladok--redirectnod-%2F%3Freferer%3Dhttp%253A%252F%252Fstudentportal.gu.se%252Fe-tjanster%252F" id='studentportalen-link'>Studentportalen</a> i Ladok på webb. <em>Notera att du måste vara registrerad på kursen för att kunna se tentamenstillfället i Ladok på webb.</em></p><br>

      <p>Vid problem och/eller frågor kontakta <a href="#">studieexpeditionen</a>. Meddela gärna studieexpeditionen om du anmält dig till en tentamen men fått förhinder.</p>
    </div>

    <h2>Examination</h2>

    <p>Inom högskolan används olika examinationsformer. Vanligaste är skriftlig tentamen, men en tentamen kan också vara muntlig. Examinator har ansvar för genomförandet av tentamen. Med examinator avses examinator enligt kursplanen. Institutionens prefekt är ytterst ansvarig för att arbetsuppgifter som åligger examinator blir fullgjorda, om den senare inte är tillgänglig.</p>

    <p>I kurs-PM informerar examinator om kursens examination:   </p>
        <ul style="padding-bottom:10px;">
            <li>Examinationsform.</li>
            <li>Datum för ordinarie tentamina, liksom för första omtentamenstillfället.</li>
            <li>Vilka hjälpmedel som accepteras vid tentamen.</li>
        </ul>


    <div class="alert alert-warning" id="dont-forget-panel">
      
      <h3>Viktigt att komma ihåg!</h3>
      <ul>
        <li><strong><em>Ta med dig fotolegitimation.</em></strong></li>
        <li>Ta med mellanmål om tentamen är lång.</li>
        <li>Ta med dig penna, suddgummi, linjal och tillåtna hjälpmedel.</li>
        <li>Kontrollera att eventuella hjälpmedel inte innehåller egna anteckningar eller lösa blad. Är du osäker på vad som är tillåtet, tala med tentamensvakten.</li>
        <li>Kom i tid! Tänk på att du stör övriga studenter om du kommer för sent till tentamen.</li>
        <li>Ytterkläder och väskor får inte tas med till skrivplatsen. Plocka därför ur hjälpmedel och mellanmål innan du sätter dig.
        </li>
        <li>Mobiltelefoner och elektronisk utrustning, som inte är godkända hjälpmedel, skall vara avstängda och får inte medföras till skrivplatsen. Följ alltid tentamensvaktens anvisningar.</li>
        <li>Notera den anonyma koden vid ditt namn på anmälningslistan och skriv denna kod på framsidan av din tenta.</li>
        <li>Stör inte övriga tentander.</li>
        <li>Avsluta tentamen i tid.</li>
      </ul>

    </div>


    <h2>Glöm inte legitimation!</h2>

    <p>När du ska skriva din tentamen behöver du visa upp en giltig legitimation. Mer information om godkända ID-handlingar och regler för tentamen finns under fliken <a href="#" id='tentamenregler-link'>Tentamenregler</a> eller på <a href="http://studentportal.gu.se/studiemiljo-regler/tentamensregler/?skipSSOCheck=true" id='studentportalen-rules'>Studentportalen</a>.</p>

    <h2>Student med funktionsnedsättning</h2>

    <p id="exam-reg-info-end">Om du som student med funktionsnedsättning vill ha en anpassad tentamen, meddela detta senast fyra veckor före examinationen till kursansvarig lärare eller kurssekreterare.</p>
  </div>
</div>

<div class="material white column col-md-3" id="exam-information-submenu">

  <h4><em>Har du några funderingar?</em></h4> 
  <p>Då kan du alltid ta kontakt med <a href="#">Studieexpeditionen</a> så hjälper de dig. All kontaktinformation finns under menyalternativet <a href="#">Kontaktinformation</a>.</p>
  

  <h4 id="shortcuts">Genvägar till andra relaterade webbsidor</h4> 
  <a href="https://login.it.gu.se/login?service=http%3A%2F%2Fstudentportal.gu.se%2Fr%2Fladok--redirectnod-%2F%3Freferer%3Dhttp%253A%252F%252Fstudentportal.gu.se%252Fe-tjanster%252F" class="btn btn-default" role="button">Ladok</a>
  <br><br>
  <a href="https://gul.gu.se/startPage.do" class="btn btn-default" role="button">GUL</a>
  <br><br>
  <a href="http://ub016008.ub.gu.se/cgi-bin/auth.cgi?url=http://gothenburg.summon.serialssolutions.com/sv-SE/search/results?spellcheck=true&q=" class="btn btn-default" role="button">Universitets Biblioteket</a>
  <br><br>

</div>