<div class="main-content column col-md-9 white material faq" >
    <h1>Vanliga frågor (FAQ)</h1>
    <h4><strong>Jag behöver ett intyg med mina studieresultat/mina registreringar - vem kan ge mig det?</strong></h4>

    <p>Både studenter vid Göteborgs universitet och vid Chalmers kan nu skriva ut sina studieintyg via <a
            href="http://studentportal.gu.se/e-tjanster/ladoktjanster?skipSSOCheck=true">Ladok på webb</a>.

    <p>

    <h4><strong>Hur kan jag få reda på mina studieresultat och vilka kurser/vilket program jag är registrerad
        på?</strong></h4>

    <p>För att se dina studieresultat kan du som studerande vid Göteborgs universitet logga in på <a
            href="https://login.it.gu.se/login?service=https%3A%2F%2Fgul.gu.se%2Flogin%2Fprocesslogin%3Ftargeturl%3Dhttps%253A%252F%252Fgul.gu.se%252FcourseId%252F38096%252FnoRequestLanguage%252FlaunchCourse.do%253Fid%253D38096%2526fromPublicWeb%253Dtrue">Studentportalen</a>.
        För att logga in i Studentportalen behöver du tillgång till ditt studentkonto. Om du är ny student vid Göteborgs
        universitet aktiverar du själv ditt studentkonto med hjälp av din inloggning till <a
                href="https://www.antagning.se/se/start">antagning.se</a> (hette tidigare studera.nu). Du får då
        tillgång till ditt användar-id och lösenord (visas för dig direkt på skärmen). Observera att du måste vara
        antagen till en kurs eller ett program vid Göteborgs universitet för att kunna aktivera ditt studentkonto.
        Studentkontot kan aktiveras tidigast ungefär två veckor efter att du fått ditt andra antagningsbesked.</p>

    <p>Är du studerande på Chalmers tekniska högskola kan du logga in på <a
            href="https://student.portal.chalmers.se/sv/Sidor/default.aspx">Chalmers Studentportal</a>. Login till
        Studentportalen får du när du registrerar dig vid terminsstart. Vid problem med ditt login kontaktar du
        Helpdesk, dessa kontaktuppgifter hittar du under fliken <a href="#"><em>Kontakt</em></a>.

    <h4><strong>Hur går jag tillväga om jag vill överklaga en tentamen?</strong></h4>

    <p>Det finns egentligen inget enkelt sätt att genomföra en omprövning av en tentamen. Om du anser att du blivit
        felaktigt bedömd måste du ta kontakt med din studieexpedition för att gå vidare med en överklagan av beslutet.
        Tänk på att du måste ha konkreta exempel på varför du anser att din tentamen bör ses över.<em> Läs mer om
            överklagan <a href="#">här</a></em>.</p>

    <h4><strong>Hur gör jag om jag vill meddelas när min tentamen har registrerats?</strong></h4>

    <p>För att få meddelanden när ett nytt tentamenresultat har registrerats och finns tillgängligt på orange. kan du gå
        in på fliken för <a href="#">Notifikationer</a>. Där har du möjlighet att välja när och hur du vill meddelas och
        dessutom uppdatera och ändra dina kontaktuppgifter.</p>

    <h4><strong>Jag kan inte se resultatet från min senaste tentamen men andra studenter har fått sina tentaresultat.
        Hur gör jag? </strong></h4>

    <p>Om du har svårigheter att se ditt tentamenresultat, kontakta studieexpeditionen. För att få mer detaljerade
        kontaktuppgifter, var vänlig se fliken för <a href="#">Kontakt</a></p>

</div>

<!-- CSS

@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.vcenter {
  /* vertical-align: middle;*/
}

.logo {
  font-size: 70px;
  /*font-family: "Bookman Old Style", arial, serif;*/
  font-family: 'Abril Fatface', cursive;
  /*font-weight: bolder;*/
}


#tab-bar {
  padding-top: 50px;
  background-color: orange;
}

#content {
  min-height: 50vh;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.main-content {
  min-height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
}

.material {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.sub-menu {

}
a.active{
  font-weight: bold;
}
a.active:focus {
  outline: 0;
}
body {
  background-color: whitesmoke;
  padding-bottom:50px;
}

.white {
  background-color: white;
}

/* CSS till information om regler alt 2.*/ 

p, h1, h2, h3, h4, ol, li {
  font-family:"Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;
  text-rendering:optimizeLegibility;
  font-weight: normal;
}

p, h1, h2, h3, h4 {
  width: 85%;
  line-height: 1.5;
}

h1 {
  font-size: 50px;   
  margin-bottom: 60px;
}

h1:after{
    content: ' ';
    display: block;
    border: 1px solid black;
    width: 700px;
}


h3 {
  margin-bottom: 10px;
  margin-top: 35px;
}

h4 {
  font-size: 16px;
  margin-top: 35px;
}

#content {
  margin-left: 30px;
}

p {
  font-size: 16px;
  margin-top: 15px;
}

ol {
  margin: 15px 0 15px 0;
  padding-left: 30px;
  width: 65%;
}

ol li {
  margin-bottom: 10px;
}

.material .btn {
  width: 100%;
}

#main-content a {
  color: #4cadc0;
  text-decoration: none;
}

-->