<div class="help-page" data-spy="scroll" data-target="#help-submenu" data-offset="20">
 
  <div class="main-content column col-md-9 white material" style="padding-bottom:30px;" id="help-content">

      <h1>Hjälp</h1>

      <p>Webbportalen orange. fungerar som ett verktyg för studenter på Göteborgs universitet och Chalmers att se sina skrivna tentamina digitalt. Om du har svårigheter med att hitta det du letar efter på webbplatsen kan du läsa beskrivningen nedan. <em>I menyn till höger kan du navigera dig snabbare för att hitta ett svar på din fråga.</em></p> 

      <p>Hjälp-sidan är enbart till för att stödja dig i navigeringen på webbplatsen, och inte för att ge information rörande tentaminaprocessen. För information om tentamina ber vi dig se fliken för <a href="/information/tentamenregistration">Information</a>.</p>

      <p>Om du inte skulle hitta ett svar på din fråga kan du alltid ta kontakt med studiexpeditionen, orange. eller Alesmith. Deras kontaktuppgifter hittar du under fliken för <a href="/information/contact">Information</a>.</p>


      <h2 id="sec1">Ditt konto</h2>

      <ul class="help-list">

        <li><div class="question">
          <h3>Ändra lösenord</h3>
          <p>För att ändra ditt lösenord klickar du på menyalternativet <a href="/notifications/settings">Inställningar</a>.</p>
        </div></li>

        <li><div class="question">
          <h3>Ändra telefonnummer</h3>
          <p>För att ändra ditt telefonnummer klickar du på menyalternativet <a href="/notifications/settings">Inställningar</a>.</p>
        </div></li>

        <li><div class="question">
          <h3>Ändra aviseringsmetod</h3>
          <p>För att ändra den aviseringsmetod som ger dig information om uppdateringar på .orange klickar du på menyalternativet <a href="/notifications/settings">Inställningar</a>. Där kan välja mellan att få aviseringar via mail, sms eller ta bort aviseringarna helt och hållet.</p>
        </div></li>

        <li><div class="question">
          <h3>Ändra dina personuppgifter</h3>
          <p>Dina personuppgifter, vilka inkluderar personnummer, förnamn och efternamn hämtar orange. direkt från GUL. Du har därför inte möjlighet att ändra dessa uppgifter direkt på webbplatsen. Om din personuppgifter inte skulle stämma ber vi dig att kontakta Studieexpeditionen så hjälper de dig att uppdatera dem. Kontaktinformation till studieexpeditionen hittar du under alternativet <a href="/information/contact">Information</a>.</p>
        </div></li>

        <li><div class="question">
          <h3>Ändra din mailadress</h3>
          <p>Din mailadress hämtas direkt från GUL och är något du får som student på Göteborgs universitet eller Chalmers. Du har därför inte möjlighet att ändra din mailadress.</p>
        </div></li>

        <li><div class="question">
          <h3>Ändra dina profilbild</h3>
          <p>För att ändra din profilbild går du in på menyalternativet <a href="/notifications/settings">Inställningar</a>.</p>
        </div></li>

        <li><div class="question">
          <h3>Vid problem med ditt konto</h3>
          <p>Om ditt konto inte fungerar som det ska ber vi dig kontakta support hos orange. Kontaktuppgifter till orange. hittar du under menyalternativet <a href="/information/contact">Information</a>.</p>
        </div></li>
      </ul>

      <div class="nav nav-tabs nav-stacked">
        <a class="btn btn-default" role="button" onclick="javascript:window.location.reload()">Tillbaka upp</a>
      </div>

      <h2 id="sec2">Tentamen</h2>

      <ul class="help-list">
      
        <li><div class="question">
          <h3>Se dina tentor</h3>
          <p>På startsidan och under menyalternativet <a href='/exam/all'>Tentamen</a> kan du se en överblick av alla dina skrivna tentamina. Där finns information om respektive tenta i form av kursnamn, kurskod, tentamendatum och högskolepoäng för tentamen.
            <br><br>
            <img src="/images/tentor.jpg" style="width: 100%;">
            <br><br>
          Om din tentamen registrerats på .orange kommer du ha möjlighet att se ditt betyg och även klicka på knappen "Visa tentamen" för att se hela din digitala tentamen. Om din tentamen däremot inte registrerats visas detta genom att du inte har möjlighet att klicka dig vidare för att se den digitala tentan. Det ska då även finns en nedräkning för när tentamen beräknas bli registrerad. 
          </p> 
        </div></li>

        <li><div class="question">
          <h3>Se dina betyg</h3>
          <p>Betyget för din tentamen visas direkt i överblicken av dina tentamina på startsidan, alternativt under menyalternativet <a href='/exam/all'>Tentamen</a>.
        
          <img src="/images/betyg.jpg" style="width: 100%;">
          </p>
        </div></li>

        <li><div class="question">
          <h3>Se dina poäng</h3>
          <p>De totala poängen för din tentamen och för respektive uppgift kan du se när en tentamen registrerats på orange. När du valt att "Visa tentamen" på startsidan (alternativt under menyalternativet <a href='/exam/all'>Tentamen</a>) vid din registrerade tentamen visas dina poäng.

          <img src="/images/poäng.jpg" style="width: 100%; padding-top: 20px; padding-bottom: 20px;">
          </p>
        </div></li>

        <li><div class="question">
          <h3>Se din feedback</h3>
          <p><em>Om</em> examinatorn har valt att ge dig feedback på tentamen har du möjligt att se det när du valt att "Visa tentamen" på startsidan (alternativt under menyalternativet <a href='/exam/all'>Tentamen</a>). Din text kommer då markeras på de områden där examinatorn har gjort kommentarer. När du håller muspekaren över dessa markeringar kommer kommentaren visas. 

          <img src="/images/kommentar.jpg" style="width: 100%; margin-top: 20px; margin-bottom: 20px; border:5px solid #bfe1f1;" >
          </p>
        </div></li>

        <li><div class="question">
          <h3>Se vem som är tentamenansvarig</h3>
          <p>Vilken person som är ansvarig för din tentamen visas om din tentamen registrerats på orange. När du valt att "Visa tentamen" på startsidan (alternativt under menyalternativet <a href='/exam/all'>Tentamen</a>) vid din registrerade tentamen visas all information rörande den valda tentamen.</p>
        </div></li>

        <li><div class="question">
          <h3>Spara eller skriv ut din tentamen</h3>
          <p>När du valt att "Visa tentamen" på startsidan (alternativt under menyalternativet <a href='/exam/all'>Tentamen</a>) vid din registrerade tentamen har du möjlighet att skriva ut och/eller spara den. 

          <img src="/images/save.jpg" style="width: 100%; margin-top: 20px; margin-bottom: 20px;">
          </p>
        </div></li>
      </ul>

      <div class="nav nav-tabs nav-stacked ">
        <a class="btn btn-default" role="button" onclick="javascript:window.location.reload()">Tillbaka upp</a>
      </div>

      <h2 id="sec3">Meddelanden</h2>

      <ul class="help-list">
        <li><div class="question">
          <h3>Se dina meddelanden</h3>
          <p>Dina meddelanden kan du hitta under menyalternativet <a href='/chat/chat#bottom'>Meddelanden</a>. Där finns alla konversationer för varje tentamen med respektive examinator.</p>
        </div></li>

        <li><div class="question">
          <h3>Ta kontakt med en tentamenansvarig</h3>
          <p>För att ta kontakt med en tentamenansvarig när du vill diskutera din tentamen måste du gå in på den tentamen du vill diskutera genom att välja "Visa tentamen" på startsidan (alternativt under menyalternativet <a href='/exam/all'>Tentamen</a>). Där kan du välja att "Kontakta examinator". En ny konversation kommer då skapas mellan dig och din examinator vilket gör det möjligt för dig att diskutera ditt resultat. 

          <img src="/images/kontakta.jpg" style="width: 100%; margin-top: 20px; margin-bottom: 20px;">

          Du kan även gå in på <a href='/chat/chat#bottom'>Meddelanden</a> och välja den konversation som handlar om den tentamen du vill diskutera</p>
        </div></li>
      </ul>

      <div class="nav nav-tabs nav-stacked ">
        <a class="btn btn-default" role="button" onclick="javascript:window.location.reload()">Tillbaka upp</a>
      </div>

      <h2 id="sec4">Information</h2>

      <ul class="help-list">
        <li><div class="question">
          <h3>Få information om tentamina och omprövningar</h3>
          <p>All information om tentamina och omprövningar finns under menyalternativet <a href="/information/tentamenregistration">Information</a>.</p>
        </div><li>

        <li><div class="question">
          <h3>Ta kontakt med studieexpeditionen, orange. eller Alesmith</h3>
          <p>Alla kontaktuppgifter finns under menyalternativet <a href="/information/contact">Information</a>.</p>
        </div><li>
      </ul> 

      <div class="nav nav-tabs nav-stacked ">
        <a class="btn btn-default" role="button" onclick="javascript:window.location.reload()">Tillbaka upp</a>
      </div>

  </div>

  <div class="material white column col-md-3" id="help-submenu">
    <h3>Hjälpkategorier</h3> 

    <div class="nav nav-tabs nav-stacked" id="scrollspy">
      <a href="#sec1" onClick="window.location.href=window.location.href" class="btn btn-default" role="button" >Ditt konto</a>
      <br><br>
      <a href="#sec2" onClick="window.location.href=window.location.href" class="btn btn-default" role="button">Tentamen</a>
      <br><br>
      <a href="#sec3" onClick="window.location.href=window.location.href" class="btn btn-default" role="button">Meddelanden</a>
      <br><br>
      <a href="#sec4" onClick="window.location.href=window.location.href" class="btn btn-default" role="button">Information</a>
      <br><br>
    </div>


  </div>


</div>