<div class="main-content white material column col-md-9" id="reexam">

    <h1>Omprövning av tentamen</h1>
    <div id="info-content">
        <p>Har du fått tillbaka din tentamen och anser att du blivit felaktigt bedömd eller rentav hittat något som
            examinatorn helt missat att betygsätta eller liknande. Då har du som student rätt att kräva att ditt
            resultat omprövas. Se till att du är väl förberedd och har goda skäl/underlag innan du går vidare med att
            överklaga sin tentamen.</p>

        <p>Ta kontakt med din studieexpedition som hjälper sig med blanketter och förberedelser för eventuell överklagan
            av din tentamen.</p>

        <p><em><strong>OBS!</strong> Begäran om omprövning skall lämnas in senast två veckor efter att tentamen
            registrerats och därmed finns tillgänglig för studenten.</em></p>
    </div>

    <h3>Ej giltiga skäl</h3>


    <p>Följande exempel på motiveringar är <em>INTE</em> skäl för att begära omprövning av examinationsbeslut:</p>

    <ol>
        <li>Jag har tittat på en annan students tentamen och tycker att jag skall få lika många poäng som han/hon för vi
            har svarat ungefär likadant.
        </li>
        <li>Jag ligger nära gränsen för G, eller VG, kan du titta om du kan hitta några fler poäng.</li>
        <li>Jag tycker att jag borde få ett till poäng på fråga X.</li>
        <li>Kan du titta på min tentamen igen.</li>
    </ol>
    </p>

</div>
<div class="material white column col-md-3" id="reexam-submenu">

  <h4><em>Har du några funderingar?</em></h4> 
  <p>Då kan du alltid ta kontakt med <a href="#">Studieexpeditionen</a> så hjälper de dig. All kontaktinformation finns under menyalternativet <a href="#">Kontaktinformation</a>.</p>
  

  <h4 id="shortcuts">Genvägar till andra relaterade webbsidor</h4> 
  <a href="https://login.it.gu.se/login?service=http%3A%2F%2Fstudentportal.gu.se%2Fr%2Fladok--redirectnod-%2F%3Freferer%3Dhttp%253A%252F%252Fstudentportal.gu.se%252Fe-tjanster%252F" class="btn btn-default" role="button">Ladok</a>
  <br><br>
  <a href="https://gul.gu.se/startPage.do" class="btn btn-default" role="button">GUL</a>
  <br><br>
  <a href="http://ub016008.ub.gu.se/cgi-bin/auth.cgi?url=http://gothenburg.summon.serialssolutions.com/sv-SE/search/results?spellcheck=true&q=" class="btn btn-default" role="button">Universitets Biblioteket</a>
  <br><br>

</div>


