<div class="row" id="content">

            <div class="main-content column col-md-9" id='main-content'>

                <h1>Omprövning av tentamen</h1>

                <div id="info-content"> 
                    <p>Har du fått tillbaka din tentamen och anser att du blivit felaktigt bedömd eller rentav hittat något som examinatorn helt missat att betygsätta eller liknande. Då har du som student rätt att kräva att ditt resultat omprövas. Se till att du är väl förberedd och har goda skäl/underlag innan du går vidare med att överklaga sin tentamen.</p>

                    <p>Ta kontakt med din studieexpedition som hjälper sig med blanketter och förberedelser för eventuell överklagan av din tentamen.</p>

                    <p><em><strong>OBS!</strong> Begäran om omprövning skall lämnas in senast två veckor efter att tentamen registrerats och därmed finns tillgänglig för studenten.</em></p>
                </div>

                <h3>Ej giltiga skäl</h3>


                <p>Följande exempel på motiveringar är <em>INTE</em> skäl för att begära omprövning av examinationsbeslut:</p>

                    <ol>
                        <li>Jag har tittat på en annan students tentamen och tycker att jag skall få lika många poäng som han/hon för vi har svarat ungefär likadant.</li>
                        <li>Jag ligger nära gränsen för G, eller VG, kan du titta om du kan hitta några fler poäng.</li>
                        <li>Jag tycker att jag borde få ett till poäng på fråga X.</li>
                        <li>Kan du titta på min tentamen igen. </li>
                    </ol>
                </p>

            </div>
            <div class="material column col-md-3 ">
                <a href="https://login.it.gu.se/login?service=http%3A%2F%2Fstudentportal.gu.se%2Fr%2Fladok--redirectnod-%2F%3Freferer%3Dhttp%253A%252F%252Fstudentportal.gu.se%252Fe-tjanster%252F" class="btn btn-primary" role="button">Ladok</a>

            </div>

        </div>

<!-- CSS 

@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.vcenter {
  /* vertical-align: middle;*/
}

.logo {
  font-size: 70px;
  /*font-family: "Bookman Old Style", arial, serif;*/
  font-family: 'Abril Fatface', cursive;
  /*font-weight: bolder;*/
}


#tab-bar {
  padding-top: 50px;
  background-color: orange;
}

#content {
  min-height: 50vh;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.main-content {
  min-height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
}

.material {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.sub-menu {

}
a.active{
  font-weight: bold;
}
a.active:focus {
  outline: 0;
}
body {
  background-color: whitesmoke;
  padding-bottom:50px;
}

.white {
  background-color: white;
}

/* CSS till information om omprövning */

p, h1, h2, h3, ol, li {
  line-height: 1.5;
  font-family:"Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;
  text-rendering:optimizeLegibility;
  font-weight: normal;
}

p, h1, h2, h3 {
  width: 85%;
}

h1 {
  font-size: 50px;  
  color: #4cadc0; /*Kan vara en helt annan färg också, men jag tror det blir en färgad rubrik blir en bra avskiljare*/ 
  margin-bottom: 35px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 35px;
}

#content {
  margin-left: 30px;
}

p {
  font-size: 16px;
  margin-top: 15px;
}

ol {
  margin: 15px 0 15px 0;
  padding-left: 30px;
  width: 65%;
}

ol li {
  margin-bottom: 10px;
}

.material .btn {
  width: 100%;
}
-->