<div class="main-content white material column col-md-9" style="padding-bottom:20px" id="rules">

    <h1>Regler för tentamensskrivning</h1>

    <p>Miljön i skrivsalarna ska vara lugn och stillsam för att skapa så bra förutsättningar som möjligt för
        tentamensskrivning. Som student är du skyldig att följa skrivvakternas anvisningar och de skriftliga
        instruktioner som ges i samband med tentamen i skrivsal. Skrivsalen är endast avsedd för tentamensskrivning, och
        inga andra aktiviteter än de som har med skrivningen att göra får pågå under tiden.</p>

    <div id="rule-list">
        <ol>
          
          <li><p><em>Studentens ansvar</em>Det är din skyldighet att själv informera dig om de regler som gäller vid tentamensskrivning i skrivsal.</p></li>
                    
            
          <li><p><em>Sen ankomst</em>Du ska vara på plats vid skrivsalen i god tid före utsatt skrivningstid. Salen stängs 15 minuter efter den tid då skrivningen börjar. Om du kommer först efter att skrivsalen har stängts har du förverkat din rätt att delta vid aktuell tentamensskrivning och kommer därmed nekas tillträde till salen.</p></li>

          <li><p><em>Identitetskontroll</em>Vid tentamensskrivning måste du uppvisa godkänd legitimation. Godkänd ID-handling är pass, svenskt körkort, postens/bankens ID-kort eller annan av svensk myndighet godkänd och giltig legitimationshandling.<br><br>                        
          Du ska anteckna ditt namn och personnummer eller kodnummer på skrivningens försättsblad enligt instruktioner på skrivningen eller enligt de anvisningar skrivningsvakten ger dig.<br><br>
                        
          Om du som student har särskilda önskemål eller frågor kring legitimering, skyddad identitet, allergier eller liknande, kontakta din institution i god tid före tentamen.<br><br>
                        
          Se även: <a href='http://medarbetarportalen.gu.se/digitalAssets/1409/1409153_kl__dpolicystyrdokument091218.pdf'>Klädpolicy vid Göteborgs universitet</a></p></li>

          <li><p><em>Föranmälan och placering i skrivsal</em>Du ska föranmäla dig till tentamensskrivning enligt de instruktioner du får från din institution. Har du en dokumenterad funktionsnedsättning och har önskemål om anpassad tentamen ska du anmäla detta till institutionen senast fyra veckor före skrivningen. Har du frågor om stöd för funktionsnedsättning, kontakta <a href='mailto:ingvor.berndt@gu.se'>Ingvor Berndt</a> på utbildningsenheten. <br><br>

          I skrivsalen är du skyldig att följa skriftliga anvisningar eller anvisningar från skrivningsvakten när det gäller placeringen i salen. Skrivplatserna är reserverade för föranmälda studenter. Har du inte föranmält dig får du endast delta i tentamen i mån av plats och tillgång av skrivningsexemplar.</p></li>

          <li><p><em>Personliga tillhörigheter</em>Dina personliga tillhörigheter såsom väskor, ytterkläder m.m. ska lämnas på angiven plats i skrivsalen. Mobiltelefon, dator eller annan teknisk utrustning måste vara avstängd och ska förvaras bland de övriga tillhörigheterna, alternativt på golvet vid din skrivplats. Om det finns förvaringsskåp ska dessa användas.</p></li>

          <li><p><em>Tillåtna hjälpmedel</em>Till skrivplatsen får du endast ta med de hjälpmedel som på förhand angivits som tillåtna av ansvarig lärare. Personlig dator, översättningspenna och elektronisk ordbok är aldrig tillåtna hjälpmedel i skrivsalen. Kontroll av hjälpmedel utförs av skrivningsvakterna.</p></li>

          <li><p><em>Förbud att lämna skrivsal tidigare än efter 60 minuter</em>Om du väljer att avbryta din tentamensskrivning får du lämna skrivsalen tidigast efter 60 minuter från skrivningstidens början. Vanligtvis får du inte gå på toaletten under skrivningens första och sista timme. Rökning är inte tillåten under skrivningstid.</p></li>

          <li><p><em>Skrivpapper</em>Du får endast använda det skrivpapper som delas ut i skrivsalen för din tentamensskrivning. Inget eget skrivpapper får användas, varken som kladd eller för slutlig utskrift.</p></li>

          <li><p><em>Förbud att samtala</em>Under skrivningstid gäller totalt samtalsförbud mellan studenter, såväl i skrivsalen som vid toalettbesök.</p></li>

          <li><p><em>Störande beteende</em>Studenter som uppträder störande avvisas från skrivsalen. Störande uppträdande kan leda till disciplinära åtgärder.</p></li>

          <li><p><em>Avslutande av tentamensskrivning</em>Du måste avsluta tentamensskrivningen på utsatt tid. Skrivningstiden omfattar även att ange dina identitetsuppgifter till skrivningsvakten under skrivningen.</p></li>
                    
          <li><p><em>Tentamensskrivning ska lämnas till skrivningsvakt</em>Efter avslutad skrivning ska du lämna in din skrivning till skrivningsvakten. Detta gäller oavsett om tiden gått ut eller om du lämnat skrivningen i förtid. Även "blank" skrivning ska lämnas in.</p></li>
                    
          <li><p><em>Fusk</em>Vid misstanke om fusk i samband med tentamensskrivning, eller annan händelse som kan leda till disciplinär åtgärd, antecknas studentens namn, personnummer och vad som har hänt. Det tas också kopior på samtliga delar av tentamen. Materialet skickas sedan till berörd institution för beslut om vidare åtgärd.<br><br>

          Vid misstanke om fusk vid tentamensskrivning, eller annan händelse som kan leda till disciplinär åtgärd, skickar institutionen ärendet vidare till rektor. Rektor kan meddela varning eller överlämna ärendet vidare till universitetets disciplinnämnd. Disciplinär påföljd är varning eller avstängning från studier för en viss tid (högst sex månader). Ett avstängningsbeslut innebär att studenten inte får delta i undervisning, prov eller annan verksamhet inom ramen för utbildningen. Under den tid som avstängningen pågår har man inte rätt till studiemedel.<br><br>

          Se även: <a href="http://studentportal.gu.se/digitalAssets/1461/1461835_handl--ggningsordning-f--r-disciplin--renden--3-.pdf">Handläggningsordning för disciplinärenden vid Göteborgs universitet</a></p></li>
        </ol>
    </div>
</div>

<div class="material white column col-md-3" id="rules-submenu">

  <h4><em>Har du några funderingar?</em></h4> 
  <p>Då kan du alltid ta kontakt med <a href="/information/contact">Studieexpeditionen</a> så hjälper de dig. All kontaktinformation finns under menyalternativet <a href="/information/contact">Kontaktinformation</a>.</p>
  

  <h4 id="shortcuts">Genvägar till andra relaterade webbsidor</h4> 
  <a href="https://login.it.gu.se/login?service=http%3A%2F%2Fstudentportal.gu.se%2Fr%2Fladok--redirectnod-%2F%3Freferer%3Dhttp%253A%252F%252Fstudentportal.gu.se%252Fe-tjanster%252F" class="btn btn-default" role="button">Ladok</a>
  <br><br>
  <a href="https://gul.gu.se/startPage.do" class="btn btn-default" role="button">GUL</a>
  <br><br>
  <a href="http://ub016008.ub.gu.se/cgi-bin/auth.cgi?url=http://gothenburg.summon.serialssolutions.com/sv-SE/search/results?spellcheck=true&q=" class="btn btn-default" role="button">Universitets Biblioteket</a>
  <br><br>

</div>
