<div class="main-content column col-md-9" id='main-content'>

                <h1>Regler för tentamensskrivning</h1>

                <p>Miljön i skrivsalarna ska vara lugn och stillsam för att skapa så bra förutsättningar som möjligt för tentamensskrivning. Som student är du skyldig att följa skrivvakternas anvisningar och de skriftliga instruktioner som ges i samband med tentamen i skrivsal. Skrivsalen är endast avsedd för tentamensskrivning, och inga andra aktiviteter än de som har med skrivningen att göra får pågå under tiden.</p>

                    <div class="row">
                        <div class="col-md-5 well well-sm" id="well1">
                            <h4>Studentens ansvar</h4>
                            <p>Det är din skyldighet att själv informera dig om de regler som gäller vid tentamensskrivning i skrivsal.</p>
                        </div>
                    

                        <div class="col-md-5 well well-sm" id="well2">
                            <h4>Sen ankomst</h4>
                            <p>Du ska vara på plats vid skrivsalen i god tid före utsatt skrivningstid. Salen stängs 15 minuter efter den tid då skrivningen börjar. Om du kommer först efter att skrivsalen har stängts har du förverkat din rätt att delta vid aktuell tentamensskrivning och kommer därmed nekas tillträde till salen.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10 well well-sm" id="well3">
                            <h4>Identitetskontroll</h4>
                            <p>Vid tentamensskrivning måste du uppvisa godkänd legitimation. Godkänd ID-handling är pass, svenskt körkort, postens/bankens ID-kort eller annan av svensk myndighet godkänd och giltig legitimationshandling. </p>
                            <p>Du ska anteckna ditt namn och personnummer eller kodnummer på skrivningens försättsblad enligt instruktioner på skrivningen eller enligt de anvisningar skrivningsvakten ger dig.</p>
                            <p>Om du som student har särskilda önskemål eller frågor kring legitimering, skyddad identitet, allergier eller liknande, kontakta din institution i god tid före tentamen.</p>
                            <p>Se även: <a href='http://medarbetarportalen.gu.se/digitalAssets/1409/1409153_kl__dpolicystyrdokument091218.pdf'>Klädpolicy vid Göteborgs universitet</a></p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-10 well well-sm" id="well4">
                            <h4>Föranmälan och placering i skrivsal</h4>
                            <p>Du ska föranmäla dig till tentamensskrivning enligt de instruktioner du får från din institution. Har du en dokumenterad funktionsnedsättning och har önskemål om anpassad tentamen ska du anmäla detta till institutionen senast fyra veckor före skrivningen. Har du frågor om stöd för funktionsnedsättning, kontakta <a href='mailto:ingvor.berndt@gu.se'>Ingvor Berndt</a> på utbildningsenheten..</p>
                            <p>I skrivsalen är du skyldig att följa skriftliga anvisningar eller anvisningar från skrivningsvakten när det gäller placeringen i salen. Skrivplatserna är reserverade för föranmälda studenter. Har du inte föranmält dig får du endast delta i tentamen i mån av plats och tillgång av skrivningsexemplar.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 well well-sm" id="well5">
                            <h4>Personliga tillhörigheter</h4>
                            <p>Dina personliga tillhörigheter såsom väskor, ytterkläder m.m. ska lämnas på angiven plats i skrivsalen. Mobiltelefon, dator eller annan teknisk utrustning måste vara avstängd och ska förvaras bland de övriga tillhörigheterna, alternativt på golvet vid din skrivplats. Om det finns förvaringsskåp ska dessa användas.<p>
                        </div>
                        <div class="col-md-3 well well-sm" id="well6">
                            <h4>Tillåtna hjälpmedel</h4>
                            <p>Till skrivplatsen får du endast ta med de hjälpmedel som på förhand angivits som tillåtna av ansvarig lärare. Personlig dator, översättningspenna och elektronisk ordbok är aldrig tillåtna hjälpmedel i skrivsalen. Kontroll av hjälpmedel utförs av skrivningsvakterna.
                        </p>
                    </div>
                    <div class="col-md-3 well well-sm" id="well7">
                        <h4>Förbud att lämna skrivsal tidigare än efter 60 minuter</h4>
                        <p>Om du väljer att avbryta din tentamensskrivning får du lämna skrivsalen tidigast efter 60 minuter från skrivningstidens början. Vanligtvis får du inte gå på toaletten under skrivningens första och sista timme. Rökning är inte tillåten under skrivningstid.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 well well-sm" id="well8">
                        <h4>Skrivpapper</h4>
                        <p>Du får endast använda det skrivpapper som delas ut i skrivsalen för din tentamensskrivning. Inget eget skrivpapper får användas, varken som kladd eller för slutlig utskrift.</p>
                    </div>
                    <div class="col-md-3 well well-sm" id="well9">
                        <h4>Förbud att samtala</h4>
                        <p>Under skrivningstid gäller totalt samtalsförbud mellan studenter, såväl i skrivsalen som vid toalettbesök.</p>
                    </div>
                    <div class="col-md-3 well well-sm" id="well10">
                        <h4>Störande beteende</h4>
                        <p>Studenter som uppträder störande avvisas från skrivsalen. Störande uppträdande kan leda till disciplinära åtgärder.</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-5 well well-sm" id="well11">
                        <h4>Avslutande av tentamensskrivning</h4>
                        <p>Du måste avsluta tentamensskrivningen på utsatt tid. Skrivningstiden omfattar även att ange dina identitetsuppgifter till skrivningsvakten under skrivningen.</p>
                    </div>
                    <div class="col-md-5 well well-sm" id="well12">
                        <h4>Tentamensskrivning ska lämnas till skrivningsvakt</h4>
                        <p>Efter avslutad skrivning ska du lämna in din skrivning till skrivningsvakten. Detta gäller oavsett om tiden gått ut eller om du lämnat skrivningen i förtid. Även "blank" skrivning ska lämnas in.</p>
                    </div>
                 </div>
                <div class="row">
                    <div class="col-md-10 well well-sm" id="well13">
                        <h4>Fusk</h4>
                        <p>Vid misstanke om fusk i samband med tentamensskrivning, eller annan händelse som kan leda till disciplinär åtgärd, antecknas studentens namn, personnummer och vad som har hänt. Det tas också kopior på samtliga delar av tentamen. Materialet skickas sedan till berörd institution för beslut om vidare åtgärd.</p>
                        <p>Vid misstanke om fusk vid tentamensskrivning, eller annan händelse som kan leda till disciplinär åtgärd, skickar institutionen ärendet vidare till rektor. Rektor kan meddela varning eller överlämna ärendet vidare till universitetets disciplinnämnd. Disciplinär påföljd är varning eller avstängning från studier för en viss tid (högst sex månader). Ett avstängningsbeslut innebär att studenten inte får delta i undervisning, prov eller annan verksamhet inom ramen för utbildningen. Under den tid som avstängningen pågår har man inte rätt till studiemedel.</p>
                        <p>Se även: <a href="http://studentportal.gu.se/digitalAssets/1461/1461835_handl--ggningsordning-f--r-disciplin--renden--3-.pdf">Handläggningsordning för disciplinärenden vid Göteborgs universitet</a></p>
                    </div>
                </div>
            </div>


<!-- CSS 
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.vcenter {
  /* vertical-align: middle;*/
}

.logo {
  font-size: 70px;
  /*font-family: "Bookman Old Style", arial, serif;*/
  font-family: 'Abril Fatface', cursive;
  /*font-weight: bolder;*/
}


#tab-bar {
  padding-top: 50px;
  background-color: orange;
}

#content {
  min-height: 50vh;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.main-content {
  min-height: 40vh;
  margin-left: 10px;
  margin-right: 10px;
}

.material {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

#submenu {
  width: 250px;
}

.sub-menu {

}
a.active{
  font-weight: bold;
}
a.active:focus {
  outline: 0;
}
body {
  background-color: whitesmoke;
  padding-bottom:50px;
}

.white {
  background-color: white;
}

/* CSS till information om regler alt 1.*/

p, h1, h2, h3, ol, li {
  font-family:"Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;
  text-rendering:optimizeLegibility;
  font-weight: normal;
}

p, h1, h2, h3 {
  width: 85%;
  line-height: 1.5;
}

#main-content a {
  color: #4cadc0;
  text-decoration: none;
}

#well1 p,
#well2 p,
#well3 p,
#well4 p,
#well5 p,
#well6 p,
#well7 p,
#well8 p,
#well9 p,
#well10 p,
#well11 p,
#well12 p,
#well13 p {
  font-size: 13px;
  margin: 0 auto 10px auto;
  text-align: center;
}

#well1 h4,
#well2 h4,
#well3 h4,
#well4 h4,
#well5 h4,
#well6 h4,
#well7 h4,
#well8 h4,
#well9 h4,
#well10 h4,
#well11 h4,
#well12 h4,
#well13 h4 {
  text-align: center;
}

#well1 {
  margin: 35px 5px 0 17px;
  width: 220px;
  height: 183px;
}

#well2 {
  margin: 35px 5px 0 17px;
  width: 420px;
  height: 183px;
}

#well2 h4 {
  margin-top: 10px;
}

#well3,
#well4,
#well13 {
  width: 663px;
  margin: 20px auto 0 17px;
}

#well5,
#well6,
#well7{
  width: 210px;
  margin: 20px auto 5px 17px;
  height: 370px;
}

#well8,
#well9,
#well10{
  width: 210px;
  margin: 20px auto 5px 17px;
  height: 220px;
}

#well9 h4 {
  margin-top: 10px;
}

#well11 p {
  margin-top: 30px;
}

#well11,
#well12 {
  width: 325px;
  margin: 20px auto 5px 17px;
  height: 200px;
}

h1 {
  font-size: 50px;   
  margin-bottom: 60px;
  line-height: 1;
}

h1:after{
    content: ' ';
    display: block;
    border: 1px solid black;
    width: 700px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 35px;
}

#content {
  margin-left: 30px;
}

p {
  font-size: 16px;
  margin-top: 15px;
}

ol {
  margin: 15px 0 15px 0;
  padding-left: 30px;
  width: 65%;
}

ol li {
  margin-bottom: 10px;
}

#submenu .btn {
  width: 100%;
  color: white;
} -->