<!doctype html>
<html ng-app="a">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script>
        angular.module("a", []).controller("MainController", function ($http, $scope) {
            $scope.alert = function (str) {
                alert(str);
            }
            $scope.Date = function () {
                return new Date().toISOString();
            };
            $scope.addUser = function () {
                $http.post("/v1/user", $scope.newUser).success(refreshAlert);
            };
            $scope.createExam = function () {
                $scope.newExam.maxPoints = countExamPoints($scope.newExam);
                $http.post("/v1/exam", $scope.newExam).success(refreshAlert);
            };

            $scope.updateUser = function () {
                var user = $scope.editSelectedUser;
                $http.put("/v1/user/" + user.id, user).success(refreshAlert);
            };
            $scope.changeExam = function () {
                var exam = $scope.selectedChangeExam;
                exam[0].maxPoints = countExamPoints(exam[0]);
                console.log(exam);
                $http.put("/v1/exam/" + exam[0].id, exam[0]).success(refreshAlert);
            };
            $scope.updateWrittenExam = function () {
                var writtenExam = $scope.writtenExam[0];
                $http.put("/v1/writtenExam/" + writtenExam.id, writtenExam).success(refreshAlert);
            };
            $scope.doExam = function (newWrittenExam, selectedUser, selectedExam) {
                newWrittenExam.writtenBy = selectedUser.id;
                newWrittenExam.metaData = selectedExam.id;
                $http.post("/v1/writtenExam", $scope.newWrittenExam).success(refreshAlert).error(console.log);
            };
            $scope.sendChat = function (chatText, writtenExamZ, fromUs) {
                console.log(chatText, writtenExamZ, fromUs);
                $http.get('/v1/writtenExam/' + writtenExamZ.id).success(function (writtenExam) {
                    writtenExam.chat = writtenExam.chat || [];
                    writtenExam.chat.push({data: chatText, fromUs: fromUs});

                    $http.post("/v1/writtenExam/" + writtenExam.id, writtenExam).error(console.log);
                })
            };
            refresh();
            function refresh() {
                $http.get('/v1/user').success(function (users) {
                    $scope.users = users;
                });
                $http.get('/v1/exam').success(function (exams) {
                    $scope.exams = exams;
                });

            }

            function refreshAlert() {
                alert("Ändringarna sparades. Sidan laddas nu om.");
                location.reload();
            }

            $scope.find = function (arr, id) {
                for (var key in arr) {
                    var value = arr[key];
                    try {
                        if (value.id === id) {
                            return value;
                        }
                    } catch (e) {

                    }
                }
                return null;
            };
            function countExamPoints(exam) {
                try {
                    var count = 0;
                    for (var key in exam.questions) {
                        var value = exam.questions[key];
                        if (value.points) {
                            count += parseInt(value.points);
                            console.log("hello worlds", value, count);
                        }
                    }
                    return count;
                }
                catch (e) {

                }
                return 0;
            };

            $scope.countPoints = function (writtenExam) {

                try {
                    var count = 0;
                    for (var key in writtenExam.answers) {
                        var value = writtenExam.answers[key];
                        if (value.points) {
                            count += parseInt(value.points);
                            console.log("hello worlds", value, count);
                        }
                    }
                    return count;
                }
                catch (e) {

                }
                return 0;
            }
        })

    </script>
    <style>
        .question textarea {
            width: 100%;
        }

        .page {
            min-height: 100vh;
            padding-top: 60px;
            margin-top: -60px;
        }

        body {
            margin: 0;
            padding-top: 0;
        }

        .block {
            display: inline-block;
            width: 25%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-left: 1.5%;
            padding-left: 2.5%;
            margin-right: 1.5%;
            padding-right: 2.5%;
            border: 1px solid black;
        }

        .block h2 {
            border-bottom: 1px solid lightgray;
            margin: 0;
            padding: 0;
        }

        .menu {
            position: fixed;
            background: gray;
            width: 100%;
            height: 50px;
        }

        input {
            width: 50%;
        }

        .menu li {
            display: inline-block;
        }

    </style>
</head>
<body>
<div ng-controller="MainController">
    <div class="menu">
        <ul>
            <li>
                <a href="#users">Användare</a>
                <a href="#writtenExam">Skrivna Tentor</a>
                <a href="#exam">Tentamen</a>
                <a href="#chat">Chat</a>
            </li>
        </ul>
    </div>
    <div style="padding-top:60px;"></div>
    <div class="page" id="users">
        <h1>
            Användare:
        </h1>

        <div class="block">
            <h2>
                Lägg till användare
            </h2>
            <button ng-click="alert('Fyll i information och tryck på skicka.')">?</button>
            <div>
                <input placeholder="username" ng-model="newUser.username">
            </div>
            <div>
                <input placeholder="password" ng-model="newUser.password">
            </div>
            <div>
                <input placeholder="name" ng-model="newUser.name">
            </div>
            <div>
                <input placeholder="email" ng-model="newUser.email">
            </div>
            <div>
                <input placeholder="birthday YYYY-MM-DD-XXXX" ng-model="newUser.birthday">
            </div>
            <div>
                <input type="submit" value="Lägg till användare" ng-click="addUser()">
            </div>
        </div>
        <div class="block">
            <h2>
                Redigera användare
            </h2>
            <button ng-click="alert('Välj en användare som du vill redigera. Ändra sedan dess värden. Tryck på ändra för att spara.')">
                ?
            </button>

            <select ng-options="user.username for user in users track by user.id" ng-model="editSelectedUser">

            </select>

            <div>
                <input placeholder="username" ng-model="editSelectedUser.username">
            </div>
            <div>
                <input placeholder="password" ng-model="editSelectedUser.password">
            </div>
            <div>
                <input placeholder="name" ng-model="editSelectedUser.name">
            </div>
            <div>
                <input placeholder="email" ng-model="editSelectedUser.email">
            </div>
            <div>
                <input placeholder="birthday YYYY-MM-DD-XXXX" ng-model="editSelectedUser.birthday">
            </div>
            <div>
                <input type="submit" value="Ändra" ng-click="updateUser()">
            </div>
        </div>
    </div>
    <div class="page" id="writtenExam">
        <h1>
            Skrivna Tentor
        </h1>

        <div class="block">
            <h2>
                Gör en tenta
            </h2>
            <button ng-click="alert('Välj en användare som du vill ska göra en tenta. Sedan välj tentan han ska göra. Sedan fyll i vilket betyg han ska ha och svara på frågorna om du vill. Tryck på skicka.')">
                ?
            </button>
            <div>
                <label>
                    Användare:
                    <select multiple ng-options="user.username for user in users track by user.id"
                            ng-model="examSelectedUser"></select>
                </label>

            </div>
            <div>
                <label>
                    Tentamen:
                    <select multiple ng-options="exam.name for exam in exams track by exam.id"
                            ng-model="examSelectedExam"></select>
                </label>
            </div>
            <div ng-show="examSelectedExam">
                <div>
                    Max poäng på tenta
                    <b>{{examSelectedExam[0].maxPoints}}</b>
                </div>
                <div ng-init="newWrittenExam={}">
                    <label>
                        Betyg

                        <select ng-model="newWrittenExam.grade">
                            <option></option>
                            <option>U</option>
                            <option>G</option>
                            <option>VG</option>
                        </select>
                    </label>
                </div>
            </div>


            <div>
                <div class="question" ng-repeat="question in examSelectedExam[0].questions">
                    <h4>
                        {{question.data}}
                    </h4>

                    <div>
                        <label>
                            Svar:
                            <textarea ng-model="newWrittenExam.answers[$index].data"></textarea>
                        </label>
                    </div>
                    <div>
                        <label>
                            Poäng max({{question.points}})
                            <input ng-model="newWrittenExam.answers[$index].points">
                        </label>
                    </div>
                    <hr>
                </div>
            </div>
            <button ng-click="doExam(newWrittenExam,examSelectedUser[0],examSelectedExam[0])">Lägg till</button>
        </div>
        <div class="block">
            <h2>
                Ändra en skrivning
            </h2>
            <button ng-click="alert('Precis som hjälpen på föregående. Här kan du dock kommentera. För att kommentera, börja med att annotera med >- avsluta med -<. Det första paret av >--<, matchar den första kommentaren på hemsidan, den andra matchar den andra, osv. Tryck på skicka.')">
                ?
            </button>


            <div>
                <label>
                    Användare:
                    <select ng-options="user.username for user in users track by user.id"
                            multiple
                            ng-model="selectedUser"></select>
                </label>

            </div>
            <div>
                <label>
                    Tentamen:
                    <select ng-options="writtenExam.id for writtenExam in selectedUser[0].writtenExams track by writtenExam.id"
                            multiple
                            ng-model="writtenExam"
                            ng-click="selectedExam=find(exams,writtenExam[0].metaData); writtenExam[0].points=countPoints(writtenExam[0]);"></select>
                </label>
            </div>
            <div ng-if="writtenExam">
                <div>
                    {{selectedExam.name}}
                </div>
                <div>
                    Poäng:
                    <input ng-model="writtenExam[0].points">
                    <b>{{selectedExam.maxPoints}}</b>
                </div>
                <div>
                    <label>
                        Betyg
                        <select ng-model="writtenExam[0].grade">
                            <option></option>
                            <option>U</option>
                            <option>G</option>
                            <option>VG</option>
                        </select>
                    </label>
                </div>
                <div>
                    Deadline för rättning:
                    <label>
                        {{selectedExam.date}}
                    </label>
                </div>
            </div>


            <div>
                <div class="question" ng-repeat="question in selectedExam.questions" ng-init="outer=$index">
                    <h4>
                        {{question.data}}
                    </h4>

                    <div>
                        <label>
                            Svar:
                            <textarea ng-model="writtenExam[0].answers[$index].data"></textarea>
                        </label>
                    </div>
                    <div>
                        <label>
                            Poäng max({{question.points}})
                            <input ng-model="writtenExam[0].answers[$index].points">
                        </label>
                    </div>
                    <button style="color:blue"
                            ng-click="alert('Lägg först till kommentarer. Sedan lägger du in >- LITE TEXT -< in i frågetexten som studenterna har skrivit. Färgerna är hexadecimala.')">
                        ?
                    </button>
                    <div ng-init="writtenExam[0].answers[outer].comments = writtenExam[0].answers[outer].comments || []">
                        <div ng-repeat="comment in writtenExam[0].answers[outer].comments">
                            Kommentar {{$index+1}}:
                            <div><label>
                                Text:
                                <input ng-model="comment.data">
                            </label>
                            </div>
                            <div>
                                <label>
                                    Färg:
                                    <input ng-model="comment.color">
                                </label>
                            </div>
                        </div>
                        <button ng-click="writtenExam[0].answers[outer].comments.push({})" )>Lägg till kommentar
                        </button>
                    </div>

                    <hr>
                </div>
            </div>
            <button ng-click="updateWrittenExam()">Ändra</button>
        </div>

    </div>
    <div class="page" id="exam">
        <h1>
            Tentor
        </h1>
        <button ng-click="alert('Här skapar du en kurs/tenta beroende på hur man ser det. Fyll i information, sedan välj frågor som ska finnas med på tentan. Tryck på skicka.')">
            ?
        </button>


        <div class="block">
            <h2>
                Lägg till ny tentamen
            </h2>

            <div>
                <input ng-model="newExam.courseCode" placeholder="Kurskod">
                <input ng-model="newExam.name" placeholder="Kursnamn">
                <input ng-model="newExam.points" placeholder="Kurspoäng">
                <input ng-init="newExam.date = Date();" ng-model="newExam.date">
                <input ng-model="newExam.examinator" placeholder="Kursexaminator">

                <div ng-init="newExam.questions=[]">
                    Frågor:
                    <button ng-click="newExam.questions.push({});">Lägg till fråga</button>
                    <div ng-repeat="question in newExam.questions">
                        <div>
                            Text: <input ng-model="question.data">
                        </div>
                        <div>
                            Poäng: <input ng-model="question.points">
                        </div>
                    </div>
                </div>
                <button ng-click="createExam()">Lägg till examen</button>
            </div>
        </div>
        <div class="block">
            <h2>
                Ändra tenta
            </h2>
            <button ng-click="alert('Ändra på tentan genom att välja tentan. Tryck på skicka.')">?</button>

            <select ng-options="changeExam.name for changeExam in exams track by changeExam.id"
                    multiple
                    ng-model="selectedChangeExam"></select>

            <div>

                <input ng-model="selectedChangeExam[0].courseCode" placeholder="Kurskod">
                <input ng-model="selectedChangeExam[0].name" placeholder="Kursnamn">
                <input ng-model="selectedChangeExam[0].points" placeholder="Kurspoäng">
                <input ng-model="selectedChangeExam[0].date">
                <input ng-model="selectedChangeExam[0].examinator" placeholder="Kursexaminator">

                <div ng-init="selectedChangeExam[0].questions=[]">
                    Frågor:
                    <button ng-click="selectedChangeExam[0].questions.push({});">Lägg till fråga</button>
                    <div ng-repeat="question in selectedChangeExam[0].questions">
                        <div>
                            Text: <input ng-model="question.data">
                        </div>
                        <div>
                            Poäng: <input ng-model="question.points">
                        </div>
                    </div>
                </div>
                <button ng-click="changeExam()">Lägg till examen</button>
            </div>
        </div>
    </div>
    <div class="page" id="chat">
        <h1>Chatt</h1>

        <div class="block">
            <h2>Skicka meddelande som användare</h2>
            <button ng-click="alert('Här kan du chatta som användaren. Klicka på en användare, sedan välj vilken chat du vill kommunicera i. Tryck på skicka.')">
                ?
            </button>
            <select ng-options="chatUser.username for chatUser in users track by chatUser.id" multiple
                    ng-model="selectedChatUser"></select>
            <select ng-options="chatExam.id for chatExam in selectedChatUser[0].writtenExams track by chatExam.id"
                    multiple ng-model="selectedChatExam"></select>

            <form ng-submit="sendChat(chatText,selectedChatExam[0],true);chatText='';">
                <input ng-model="chatText">
                <button>Skicka!</button>
            </form>
        </div>
        <div class="block">
            <h2>Skicka meddelande som Kursansvarig</h2>
            <button ng-click="alert('Här kan du chatta som kursansvarig. Klicka på en användare, sedan välj vilken chat du vill kommunicera i. Tryck på skicka.')">
                ?
            </button>

            <select ng-options="chatUser.username for chatUser in users track by chatUser.id" multiple
                    ng-model="selectedChatUser"></select>
            <select ng-options="chatExam.id for chatExam in selectedChatUser[0].writtenExams track by chatExam.id"
                    multiple ng-model="selectedChatExam"></select>

            <form ng-submit="sendChat(chatText2,selectedChatExam[0],false);chatText2='';">
                <input ng-model="chatText2">
                <button>Skicka!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>