@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);

.vcenter {
    /* vertical-align: middle;*/
}

.logo {
    font-size: 70px;
    /*font-family: "Bookman Old Style", arial, serif;*/
    font-family: 'Abril Fatface', cursive;
    /*font-weight: bolder;*/
}

a.undecorate:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a.undecorate:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a.undecorate:hover {
    color: black;
    text-decoration: none;
}

/* selected link */
a.undecorate:active {
    color: black;
    text-decoration: none;
}

#tab-bar {
    padding-top: 50px;
    background-color: orange;
}

#content {
    min-height: 50vh;
    padding-top: 30px;
}

div.contact-info {
    padding-left: 10px;
    padding-bottom: 10px;
}

.contact-info h4 {
    padding-top: 15px;
    padding-bottom: 3px;

}

.main-content {
    min-height: 40vh;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}

.material {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
}

.sub-menu {

}

a.active {
    font-weight: bold;
}

a.active:focus {
    outline: 0;
}

body {
    background-color: whitesmoke;
}

.white {
    background-color: white;
}

#rule-list li {
    padding-top: 15px;
}

#rule-list p:first-child {
    padding-top: 0px;
    margin-bottom: 0px;
}
div.main{
    padding-bottom:30px;
}

#logout-btn {
  background-color: #b66662;
  width: 100px;
  height: 23px;
  padding: 0;
  margin: 0;
}

#profile-name-header {
    font-size: 17px;
    margin-bottom: 5px;
    font-style: normal;
}

.nav-tabs li {
    width: 140px;
    text-align: center;
    opacity: 0.9;
    font-size: 13px;
}

#menu-alt{
    color: #757575;
    font-size: 13px;
    border-right: 1px solid #EAE9E4;
    padding-right: 5px;
    text-decoration: none;
    font-variant: normal;
}