#help-content p,
#help-content h1,
#help-content h2,
#help-content h3,
#help-content h4 {
  font-family:"Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin:0;
  text-rendering:optimizeLegibility;
  font-weight: normal;
}

#help-content p {
  font-size: 16px;
  margin-top: 15px;
}

#help-content {
  margin-left: 0;
  margin-right: 34px;
  padding-left: 60px;
  padding-top: 40px;
}

#help-content .help-list { 
  margin-top: 30px;
  list-style: none;
}

#help-content .help-list ul { 
  font-family: Georgia, Times, serif; 
  font-size: 34px; 
  color: #bfe1f1;  
}

#help-content .help-list ul li {
  margin: 0;
}

#help-content .help-list ul li p { 
  padding: 8px; 
  font-style: normal; 
  font-family: Arial; 
  font-size: 13px; 
  color: #555; 
}

#help-content .help-list .question { 
  padding: 8px; 
  font-style: normal; 
  font-family: Arial; 
  font-size: 13px; 
  color: #555; 
  border-left: 1px solid #999; 
  margin-bottom: 30px;
}

#help-content .help-list  h3 { 
  display: block;
  font-size: 15px; 
  padding-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#help-content .help-list p { 
  display: block;
  font-size: 15px; 
}

#help-content p,
#help-content h1,
#help-content h2,
#help-content h3,
#help-content h4 {
  width: 85%;
  line-height: 1.5;
}

#help-content h1 {
  font-size: 50px;   
  margin-bottom: 50px;
}

#help-content h1:after{
    content: ' ';
    display: block;
    border: 1px solid black;
    width: 700px;
}

#help-submenu a,
#help-content a {
  color: #4cadc0;
  text-decoration: none;
}

#help-content h2 {
  padding-top: 100px;
  padding-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 50px;
}

#help-content .question {
  padding-bottom: 30px;
}

#help-content #last {
  padding-bottom: 100px;
}

#help-submenu .btn {
  width: 100%;
}

#help-submenu h3{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#help-submenu #shortcuts{
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
}

#help-submenu ul li {
  margin-bottom: 20px;
}

#help-content .btn-default {
  width: 30%;
  margin-left: 250px;

}

#help-submenu h4 {

}