#headline {
  font-size: 55px;
}

.show-exam-content h5 {
  padding: 0;
  margin: 0;
}

.show-exam-content #points {
  height: 180px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  width: 180px;
  font-size: 30px;
  display: block;
  padding-top: 45%;
  padding-bottom: 0;
  line-height: 1.5em;
  white-space: normal;
  text-align: center;
  font-weight: normal;
}

#headline .glyphicon-print,
#headline .glyphicon-floppy-disk{
  font-size: 40px;
}

#headline .glyphicon-print:hover,
#headline .glyphicon-floppy-disk:hover{
  cursor: pointer; 
  color: #23527c;
}

.show-exam-content #row1 #content {
  padding: 20px 20px 0 0;
}

.show-exam-content #label {
  padding: 50px 30px auto 30px;
  margin-left: 170px;
}

.show-exam-content #exam-frame {
  margin: 0 0 30px 60px;
  width: 700px;
  padding: 0;
}

.show-exam-content #pdf {
  padding: 0;
  margin: 0;
  position: relative;
}


#show-exam-submenu #top {
  text-align: center;
}

#show-exam-submenu #course-code,
#show-exam-submenu #course-name{
  font-weight: bold;
  font-size: 20px;
}

#show-exam-submenu h2 {
  margin-bottom: 25px;
  text-align: center;
}

#show-exam-submenu #anon-code,
#show-exam-submenu #grade,
#show-exam-submenu #examinator {
  font-size: 15px;
}


#question-content {
  padding-left: 15px;
  padding-right: 15px;
}

#question-content #row1 {
  padding: 0;
  margin-left: -30px;
  margin-bottom: -20px;
  border: 0;
  border-top: 1px solid #e5e5e3;
  padding-top: 50px;
  overflow: hidden;
}

#question {
  padding-top: 0;
  margin-bottom: 30px;
}

#question-content #question-points {
  width: 150px;
  height: 40px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  padding: 10px;
  margin-left: 15px;
  margin-top: 20px;
}

#show-exam-submenu #contact #a1 {
  font-size: 20px;
}

#show-exam-submenu #contact p {
  font-size: 15px;
}
#show-exam-submenu #contact {
  border-top: 1px solid #e5e5e3;
  padding-top: 20px;
  padding-bottom: 20px;
}

#show-exam-submenu #a1:hover {
  color: #23527c;
}

#show-exam {
  margin-left: 0px;
  margin-right: 34px;
  padding: 40px 60px 40px 60px;
}

.show-exam-content {
  margin-left: 15px;
}

#show-exam-submenu a,
#show-exam-content a {
  color: #4cadc0;
  text-decoration: none;
}

#show-exam .tooltip-inner {
  width: 120px; 
}

